.preload {
  width:0;
  height:0;
  overflow:hidden;
}

.container_container {
  transform: scale(var(--zoom));
  transform-origin: left top;
  width: calc(100vw / var(--zoom));
  height: calc(100vh / var(--zoom));
  overflow: hidden
}

.container {
  margin-left:auto;
  margin-right:auto;

  width:1000px;
  max-width:none;
  aspect-ratio:1200/1600;
  position:relative;
  overflow:hidden;

  * {
    stroke:none !important;
  }

  img, svg, > div {
    width:100%;
    height:100%;
    position: absolute;
    left: 0;
    top: 0;
    transition:opacity 0.35s, filter 0.35s;
  }

  /*
  .image {
    background-image:url('/assets/clean.jpg');
    background-size:cover;
    transition:background-image 0.35s;

    &[data-id="munch"] {
      background-image:url('/assets/dog.jpg');
    }
    &[data-id="efrat"] {
      background-image:url('/assets/girlfriend.jpg');
    }
    &[data-id="mati"] {
      background-image:url('/assets/mati.jpg');
    }
    &[data-id="stone"] {
      background-image:url('/assets/rock.jpg');
    }
  }
   */

  svg {
    opacity:0;
    pointer-events: none;
    * {
      opacity:1;
      pointer-events: auto;
      fill:black;
    }
  }

  .overlay {
    pointer-events: none;
    -webkit-clip-path:var(--url);
  }

  &:not(.hasHover) > .overlay {
  }

  /*
  img:not(.overlay) {
    pointer-events: none;
  }

  &.hasHover > img:not(.overlay) {
    filter:blur(16px);
  }
   */

  img:not(.active) {
    opacity:0;
  }

  svg * {
    cursor: pointer;
  }

  div {
    pointer-events:none;
  }

  .question {
    &.visible {
      transition-delay: calc(var(--index) * 0.2s + 0.25s);
    }
    &:not(.visible) {
      opacity: 0;
    }

    position:absolute;
    left:0;
    top:0;
    z-index:100000;

    pointer-events: none;

    .inner {
      .inner_inner {
        pointer-events: auto;
        width: 300%;
        height: 300%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
      }

      transition:transform 0.35s;
      &:hover {
        transform:scale(2);
      }

      cursor:help;
      pointer-events: auto;
      position: absolute;
      left: var(--x);
      top: var(--y);
      width: 2%;
      height: 1.5%;
      background: black;
      border-radius: 100%;
      border: 4px solid rgba(255,255,255,.8);
      box-shadow: 0 0 2px 2px rgb(0 0 0 / 20%);
      &[score="1"] {
        background:green;
      }
      &[score="0"] {
        background:red;
      }
      &[score="0.5"] {
        background:linear-gradient(45deg, red 0%, red 50%, green 50%, green 100%);
      }
    }
  }

  .questionDialog {
    &.visible {
      pointer-events: auto;
    }

    &:not(.visible) {
      opacity: 0;
    }

    padding:30px 20px;
    max-width: 80%;
    box-sizing: border-box;
    width: max-content;
    height: max-content;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    z-index: 1000000000;
    .clue {
      margin-top:45px;
      line-height:1.1;
      font-family: 'Heebo', sans-serif;
      font-size:70px;
      text-align:center;
      direction:rtl;
    }
    .answer {
      margin-top:45px;
      line-height:1.1;
      font-family: 'Heebo', sans-serif;
      font-size:70px;
      text-align:center;
      direction:rtl;
    }
    .title {
      line-height:1.1;
      font-family: 'Heebo', sans-serif;
      font-size:90px;
      text-align:center;
      direction:rtl;
    }
    .options {
      display: grid;
      grid-template-columns: max-content max-content max-content max-content max-content;
      grid-column-gap: 25px;
      margin-left: auto;
      margin-right: auto;
      width: fit-content;
      direction: rtl;
      margin-top: 20px;

      > div {
        pointer-events: auto;
        line-height:1.1;
        font-family: 'Heebo', sans-serif;
        font-size:60px;
        text-align:center;
        cursor:pointer;
        direction:rtl;
        border-bottom:5px dashed rgb(100,100,100);
        transition:border-bottom 0.35s;
        &:hover {
          border-bottom:5px solid black;
        }
        &.active {
          font-weight:bold;
        }
      }
    }
  }

  .scoreOverview {
    pointer-events: auto;
    line-height: 1.1;
    font-family: "Heebo", sans-serif;
    font-size: 60px;
    text-align: center;
    direction: rtl;
    color: white;
    background-color: rgb(57 1 1 / 40%);
    height: fit-content;
    width: fit-content;
    border-radius: 10px;
    padding: 10px 20px;
    margin-left: auto;
    margin-right: auto;
    left: 50%;
    transform: translateX(-50%);
    top: 25px;
    font-weight: bold;
    letter-spacing: 2px;
  }

  .opening {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    pointer-events: auto;
    line-height: 1.1;
    font-family: "Heebo", sans-serif;
    font-size: 95px;
    text-align: center;
    direction: rtl;
    z-index:10000000;
    background:white;

    span {
      clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
      font-size:80px;
      font-style:italic;
    }

    > div {
      width:fit-content;
      height:fit-content;
    }

    pointer-events:auto;
  }
}

.container.is_active {
  img:not(.active) {
    opacity:0.01;
  }

  .opening {
    span {
      animation:opening_sub 1s 1.5s forwards;
    }
    animation:opening 2s 3s forwards;
  }
}

@keyframes opening {
  0% {
    pointer-events: auto;
    opacity:1;
  }
  99% {
    opacity:0;
  }
  100% {
    opacity:0;
    pointer-events: none;
  }
}

@keyframes opening_sub {
  0% {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
