/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow:hidden; }

.mat-tooltip {
  color: black !important;
  background: white !important;
  border: calc(1px * var(--zoom,1)) solid black !important;
  font-size: calc(57px * var(--zoom,1)) !important;
  font-family: 'Heebo', sans-serif !important;
  padding:calc(12px * var(--zoom,1)) !important;
  box-sizing:border-box !important;
  max-width:none !important;
}
